@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --header--height: 3rem;
    --left-naebar-width:65px;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: var(--header--height);
    margin-left: 1rem;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: var(--header--height);
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
    transition: 0.5s;

}

.header-img {
    height: 48px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.header-img img {
    width: 48px;
    border-radius: 50%;
}

.left-navbar {
    position: fixed;
    left: -30%;
    top: 0;
    padding: 0.5rem 1rem 0 0 ;
    width: var(--left-naebar-width);
    height: 100vh;
    background-color: dodgerblue;

    transition: 0.5s;
}

.left-navbar:hover {
    width: 13rem;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav-logo, .nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: baseline;
    gap: 1rem; 
    padding: 2rem 0 0 1.5rem;
}

.nav-logo {
    margin-bottom: 2rem;
}

.nav-logo-icon {
    font-size: 1.25rem;
    color: #f7f6fb;
}

.nav-link {
    color: rgb(46, 75, 238);
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.nav-link:hover {
    color: white;
}

.active {
    color: white;
}

.active::before {
    content: "";
    background-color: white;
    width: 2px;
    height: 20px;
    position: absolute;
    left: 0;
}

.nav-icon {
    font-size: 1.25rem;
}

h1 {
    font-weight: 100;
    color: blueviolet;
}

@media screen and (min-width: 768px) {
    body {
        margin-top: calc(var(--header--height) + 2rem);
        margin-left: calc(var(--left-naebar-width) + 2rem);
    }

    .header {
        height: calc(var(--header--height) + 1rem);
    }

    .header-img {
        height: 60px;
        width: 60px;
    }
    
    .header-img img {
        width: 48px;
        border-radius: 50%;
    }

    .left-navbar {
        left: 0;
    }
}